body{
    padding: 10px;
    background-color: rgb(32, 51, 32);
}

header{
    display: flex;
    flex-direction: row;
}
h1{
    color: white;
    margin: auto;
    margin-left: 250px;
}

hr{
    border: solid 2px white;
}

#usuario_logado{
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 1px;
    padding: 0px;
    margin-bottom: 50px;
    
   
}
#logado{
    color: white;
    width: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 600px;
    
}
#identificacao{
    color: wheat;
    width: 100px;
    height: 30px;
    margin-left: 1px;
    text-decoration: underline;
    
}

section{
    width: 95%;
    height: 600px;
    margin: auto;
    margin-top: 2px;
    display: flex;
    align-items: center;
}

.estoque{
    width: 600px;
    height: 650px;
    background-color: rgb(34, 32, 32);
    margin: 5px;
}
#acessarEstoque{
    margin-left: 0px;
    padding: 0px;

}
#consultarEstoque{
    margin: auto;
    margin-bottom: 25px;
    margin-left: 5px;

}
#inseri{
    margin: auto;
    margin-bottom: 25px;
    margin: 10px;
    
}

#logout{
    margin-top: 10px;
}

#iserindoItens{
    margin: 5px;
}

#resultadoConsulta{
    display: none;
}
 /* Estilo básico para a lista suspensa */
 .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown input {
    box-sizing: border-box;
}

.show {display: block;}

#credito{
    margin-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

h3{
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: 0px;
}

h4{
    font-size: 1em;
    margin-top: 1px;
}

#iserindoItens{
    display: flex;
    flex-wrap: wrap;
}

/* Estilo para a tabela de resultados */
.tabela-produtos {
    width: 90%;
    border-collapse: collapse; /* Remove espaços entre células */
    margin-top: 10px;
    color: #fff; /* Cor do texto */
    background-color: #333; /* Cor de fundo da tabela */
}

.tabela-produtos th, .tabela-produtos td {
    padding: 5px; /* Espaço interno das células */
    border: 1px solid #444; /* Borda das células */
    text-align: left; /* Alinhamento do texto */
}

.tabela-produtos th {
    background-color: #555; /* Cor de fundo dos cabeçalhos */
}

.tabela-produtos tr:nth-child(even) {
    background-color: #444; /* Cor de fundo para linhas pares */
}

.tabela-produtos tr:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}
