body{
    padding: 10px;
    background-color: rgb(32, 51, 32);
}

img{
    margin-bottom: 100px;
}
#cadastro-form{
    display: flex;
    flex-direction: column;
}

h1{
    margin: auto;
    color: wheat;
    font-size: 1.8em;
    margin-bottom: 50px;
}

form{
    font-size: 1.3em;
    margin: 25px;
    color: wheat;
}

label{
    margin-left: 25px;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    height: 60px;
    width: 250px;
    margin: 25px;
    font-size: 2em;
    font-weight: bold;
}