body{
    padding: 10px;
    background-color: rgb(32, 51, 32);
}

header{
    display: flex;
    flex-direction: row;
}
h1{
    color: white;
    margin: auto;
    
}

hr{
    border: solid 2px white;
}

#cadastroDeSolicitacoes{
    background-color: rgb(72, 87, 72);
    width: 99.5%;
    height: 150px;
    border-radius: 10px;
}

#tituloSolicitacao{
    margin: 3px;
    width: 400px;
    margin-left: 30px;
}

#formulario{
    margin: 10px;
}

.labelFormulario{
    margin-top: 10px;
    margin-left: 20px;
    color: wheat;
}

#btnEnvio{
    margin-top: 10px;
    margin-left: 400px;
}

#relatorio{
    width: 99.5%;
    height: 500px;
    background-color: rgb(72, 87, 72);
    margin-top: 10px;
    border-radius: 10px;

}

#h{
    margin-top: 10px;
    margin-left: 450px;
}

/* Estilos para a tabela de relatório */
#tabelaRelatorio table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    font-family: Arial, sans-serif;
}

#tabelaRelatorio th, #tabelaRelatorio td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#tabelaRelatorio th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
}

#tabelaRelatorio tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tabelaRelatorio tr:hover {
    background-color: #ddd;
}

/* Estilos para os detalhes da solicitação */
#detalhesSolicitacao p {
    margin: 5px 0;
    font-weight: bold;
    font-size: 1.1em;
}
